<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Shelby Reviews 2023</span>
        <span class="text-muted">| Movie Data From TMDB.org</span>
    </div>
</footer>
