<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Shelby Reviews</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">Home</a>

                <a class="nav-link" href="/movies">Movies</a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser && activePath !== "/audience/login" ){ %>
                <a class="nav-link" href="/audience/login">Login</a>
                <a href="/audience/register" class="nav-link">Register</a>
                <% } else if (currentUser){ %>
                <a href="/logout" class="nav-link">Logout</a>
                <% } %> <% if (activePath === "/audience/login"){%>
                <a href="/reviewer/login" class="nav-link">Reviewer Login</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
