<% layout("layouts/boilerplate") %>
<h1>Add Movie</h1>
<form action="/movies" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="movie[title]" />
        <label for="title">Year</label>
        <input type="number" id="year" name="movie[year]" />
        <label for="title">Runtime</label>
        <input type="number" id="runtime" name="movie[runtime]" />
    </div>
    <button>Add Movie</button>
</form>
<a href="/movies">Cancel</a>
